<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="banner-ad bg-danger mb-3" style="background: url('/atistirmalik-01.png');background-repeat: no-repeat;background-position: right bottom;">
                <div class="banner-content p-5">

                    <div class="categories text-primary fs-3 fw-bold">%10 İndirim</div>
                    <h3 class="banner-title">Atıştırmalıklarda İndirim</h3>
                    <p>Atıştırmalık ürünlerimizde %10'luk bir indirim mevcuttur.</p>
                    <a href="#" class="btn btn-dark text-uppercase">Hemen İncele</a>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="banner-ad bg-info" style="background: url('/peynir-01.png');background-repeat: no-repeat;background-position: right bottom;">
                <div class="banner-content p-5">

                    <div class="categories text-primary fs-3 fw-bold">%15 İndirim</div>
                    <h3 class="banner-title">Peynir Ürünlerinde İndirim</h3>
                    <p>Peynir ürünlerimizde %15'lik bir indirim mevcuttur.</p>
                    <a href="#" class="btn btn-dark text-uppercase">Hemen İncele</a>

                </div>

            </div>
        </div>

    </div>
</div>