@model MyMongoProject.Dtos.CategoryDtos.CreateCategoryDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />


<div class="container">
    <h3>Yeni Kategori Ekleme Sayfasıa</h3>
    <br /><br />
    <form method="post">
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
        <br />
        <label>İkon</label>
        <input type="text" asp-for="CategoryIcon" class="form-control" />
        <br />
       
        <button class="btn btn-info">Kategori Ekle</button>
    </form>
</div>