@model MyMongoProject.Dtos.CustomerDtos.GetByIdCustomerDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />


<div class="container">
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="CustomerId" />
        <label>Müşteri Adı</label>
        <input type="text" asp-for="CustomerName" class="form-control" />
        <br />
        <label>Müşteri Soyadı</label>
        <input type="text" asp-for="CustomerSurname" class="form-control" />
        <br />
        <button class="btn btn-info">Müşteriyi Bilgilerini Güncelle</button>
    </form>
</div>
